.footer {
  margin-top: 10%;
}
.footer__logos {
  display: flex;
  flex-wrap: wrap;
}
.footer__logos img {
  cursor: pointer;
}
.footer__logos img:hover {
  opacity: 0.5;
}
@media (max-width: 1024px) {
  .footer__logos img {
    margin-right: 5%;
    margin-bottom: 5%;
  }
}
@media (min-width: 1024px) {
  .footer__logos img {
    margin-right: 2%;
  }
}
